body{
  background: green;
  font-size: 14em;
}

p{
  font-family: sans-serif;
}

h1{
  color: blue;
}
h2{
  color: blue;
}

.heading {
font-weight: bold;
}



#important {
  color: green;
  font-size: 200%;
}
a{
  color: navy
}
