body {
        background-color: #ccccb3 ;
}
    
#contents {
    margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   width: 800px;
        background-color: #e0e0d1 ;
    color: black;
        font-family: 'Archivo Narrow', sans-serif;
}

h1 {

}

A:link {
text-declaration: none;
}

A:hover {
color: lavender;
}

a:visited {
color: purple;
}

#headblock address {
background: #999999;
}

#home, #page2 {
background-color: #e0e0d1 ;
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 40px;
     margin: 10px;
     padding-bottom: 205px;
    
}

h3 {

}

img {
width: 300px;
     float: right;
}

img.left {
float: left;
    padding: 10px;
}

#footer {

}

#clearer {

}
