body {
    background:#ccccb3;
}
    
#contents {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 50px;
}

h1 {

}

A:link {

}

A:hover {

}

a:visited {

}

#headblock address {
 background: #e0e0d1;
}

#home {
    background: #e0e0d1;
}

h3 {

}

img {
    width: 260px;
}

img.left {
    width: 260px;
}

#footer {

}

#clearer {

}
